<section id="projects">
  <h3 class="w-100 text-center">Projects</h3>
  <div class="d-flex justify-content-start align-items-center flex-column h-100">
    <ul class="list-unstyled row justify-content-start align-items-start h-100">
      <li class="col-md-4 col-12 mt-3" *ngFor="let project of projects">
        <a href="{{project.url}}" target="_blank" class="w-100 h-100 nav-link card project">
          <img src="{{project.image}}" class="card-img-top" alt="...">
          <div class="card-header py-1 h4"> {{project.name}}</div>
          <div class="card-body py-1"> {{project.description}}</div>
          <div class="card-footer pt-0 pb-2">
            <span *ngFor="let stack of project.stacks" [ngbTooltip]="stack.tooltip" class="fs-3 ms-2 social"><i class="{{stack.iconClass}}"></i></span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
