<section id="contact" class="custom-vh-100 row">
  <div class="col-5 d-flex justify-content-center align-items-center">
    <span class="text-black h1">contact</span>
  </div>
  <div class="col-7 d-flex justify-content-start align-items-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <span class="h1 roller">
          <span class="text-black text-end" id="rolltext">
            <span class="badge bg-gradient-primary">Back-End Java</span><br/>
            <span class="badge bg-gradient-primary">Front-End</span><br/>
            <span class="badge bg-gradient-primary">Full-Stack</span><br/>
          </span>
        </span>
          <span class="h1 text-black">Developer 👋</span>
        </div>
        <p class="d-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deleniti deserunt dolore ex, id nobis.</p>
      </div>
      <p class="col-12">
        Tech Stack | <span class="stack">Lorem ipsum.</span>| <span class="stack">Lorem ipsum.</span>| <span class="stack">Lorem ipsum.</span>| <span class="stack">Lorem ipsum.</span>
      </p>
    </div>
  </div>

</section>
