<app-three-scene [classes]="'blur-2xl'"></app-three-scene>

<div class="relative">

  <h1 class="text-center">PROJECTS</h1>
  <h1 class="text-center">P A G E</h1>

  <!--    https://raw.githubusercontent.com/M1rix/image-store/refs/heads/master/previews/adviceslips.png" alt="">-->
  <!--    https://raw.githubusercontent.com/M1rix/image-store/refs/heads/master/previews/pomodorix.png" alt="">-->
  <!--    https://raw.githubusercontent.com/M1rix/image-store/refs/heads/master/previews/weatherix.png" alt="">-->

</div>
