<app-three-scene [classes]="'blur-2xl'"></app-three-scene>

<div class="relative w-full flex justify-center items-center overflow-hidden h-screen">
  <div class="flex justify-center items-center overflow-hidden flex-col-reverse">

    <div
      *ngFor="let project of projects; let i = index; trackBy: trackByFn"
      class="will-change-auto absolute left-36 w-full h-40 transform transition-all duration-1000 ease-in-out rounded-lg bg-cover bg-center flex align-top gap-20 opacity-0"
      [ngClass]="{
        'translate-y-[450px] opacity-0' : i > activeIndex,
        'translate-y-0 z-10 h-[50%]': i === activeIndex,
        '-translate-y-[450px] opacity-0': i < activeIndex
      }"
    >
      <img class="shadow-xl rounded-md" src="{{project.image}}" alt="">
      <div>
        <h2 class="uppercase text-special">{{ project.title }}</h2>
        <h6>{{ project.description }}</h6>
        <p class="text-gray-400">{{ project.details }}</p>

        <button
          class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
          live preview
        </button>
      </div>
    </div>

  </div>
  <div class="absolute right-10 top-1/2 transform -translate-y-1/2 flex flex-col gap-2 z-40">
    <div
      *ngFor="let project of projects.reverse(); let i = index "
      class="w-3 h-3 rounded-full cursor-pointer transition-all duration-300"
      [ngClass]="i === activeIndex ? 'bg-emerald-300 dark:bg-[#78ffd1] shadow-[0_0_5px_3px_#fff] shadow-emerald-200 scale-125' : 'bg-gray-400 opacity-50'"
      (click)="setActiveIndex(i)"
    ></div>
  </div>
</div>


