<header class="pointer-events-none fixed z-10 top-16 left-0 right-0">
  <div class="z-index-auto h-auto flex justify-between items-center overflow-hidden px-0 py-3 sm:px-24 sm:py-0">
    <div class="pointer-events-auto flex flex-row items-center z-index-auto">
      <a href="">
        <img class="logo" ngSrc="assets/images/logo-no-background.svg" width="48" height="58.3281" alt="" priority>
      </a>
    </div>
    <div class="pointer-events-auto flex flex-row items-center z-index-auto">

      <div class="absolute right-[10%] group cursor-pointer hidden lg:flex items-center gap-[1px] duration-200
       w-auto h-[38px] border-[1px] border-solid border-neutral-300 dark:border-neutral-600 rounded-[12px] px-[11px] overflow-hidden">
        <i class="icon group-hover:text-primary-500 text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 0 1-3.827-5.802"></path>
          </svg>
        </i>
        <span class="font-bold font-base text-gray-500 group-hover:text-primary-500 group-hover:mx-[7px]
        group-hover:opacity-100 group-hover:max-w-[20px] transition-all duration-300 mt-[2px]"> EN </span>
        <span class="h-full w-[1px] bg-neutral-300 dark:bg-neutral-600 hidden group-hover:block mx-[3px]"></span>
        <span class="opacity-0 font-bold font-base text-gray-500 max-w-0 hover:text-primary-500 group-hover:mx-[6px]
         group-hover:opacity-100 group-hover:max-w-[20px] transition-all duration-300 mt-[2px]"> RU </span>
        <span class="opacity-0 font-bold font-base text-gray-500 max-w-0 hover:text-primary-500 group-hover:mx-[6px]
        group-hover:opacity-100 group-hover:max-w-[20px] transition-all duration-300 mt-[2px]"> UZ </span>
      </div>

      <div class="dark:border-l-neutral-600 pl-3 gap-x-2 hs-dropdown">
        <button type="button" class="dark:hidden block hs-dark-mode rounded-full"
                data-hs-theme-toggle="dark">
            <span
              class="group inline-flex flex-shrink-0 justify-center items-center size-9 font-medium rounded-full text-gray-800 hover:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-700">
              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
              </svg>
            </span>
        </button>
        <button type="button" class="dark:block hidden hs-dark-mode rounded-full"
                data-hs-theme-toggle="light">
            <span
              class="group inline-flex flex-shrink-0 justify-center items-center size-9 font-medium rounded-full text-gray-800 hover:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-700">
              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round">
                <circle cx="12" cy="12" r="4"></circle>
                <path d="M12 2v2"></path>
                <path d="M12 20v2"></path>
                <path d="m4.93 4.93 1.41 1.41"></path>
                <path d="m17.66 17.66 1.41 1.41"></path>
                <path d="M2 12h2"></path>
                <path d="M20 12h2"></path>
                <path d="m6.34 17.66-1.41 1.41"></path>
                <path d="m19.07 4.93-1.41 1.41"></path>
              </svg>
            </span>
        </button>
      </div>
    </div>
  </div>
</header>
