<app-three-scene [nameDiv]="nameDiv" [nicknameDiv]="nicknameDiv"></app-three-scene>
<div class="intro-wrapper items-center">
  <div class="intro-text">
    <h3 class="intro-id uppercase" style="opacity: 1; transform: none;">Hey, I’m
      <div class="name" #nameDiv>Mirshod Allaberganov
        <div class="wave-wrapper">
          <div class="wave" style="background-position-x: 0px;"></div>
        </div>
      </div>
    </h3>
    <h3 class="intro-id uppercase" style="opacity: 1; transform: none;">But you can call me
      <div class="name" #nicknameDiv>Mirix
        <div class="wave-wrapper">
          <div class="wave" style="background-position-x: 0px;"></div>
        </div>
      </div>
    </h3>
    <div class="intro-roles">
      <p class="intro-role" style="opacity: 1; transform: none;">I’m a full-stack developer</p>
      <p class="intro-role" style="opacity: 1; transform: none;">&amp; use Java and Angular to create web applications</p>
    </div>
    <div class="intro-links">
      <ul>
        <li style="opacity: 1; transform: none;" class="me-2">
          <div class="link-wrapper">
<!--            <div class="link"><a href="/work">→ &lt;!&ndash; &ndash;&gt;See my projects</a></div>-->
            <div class="link"><a href="#">→ <!-- -->See my projects</a></div>
            <div class="link-underline" style="transform:translateX(-101%) translateZ(0)"></div>
          </div>
        </li>
        <li style="opacity: 1; transform: none;">
          <div class="link-wrapper">

<!--            <div class="link"><a href="/about">→ &lt;!&ndash; &ndash;&gt;More about me</a></div>-->
            <div class="link"><a href="#">→ <!-- -->More about me</a></div>
            <div class="link-underline" style="transform:translateX(-101%) translateZ(0)"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
