<app-three-scene [nameDiv]="nameDiv" [nicknameDiv]="nicknameDiv"></app-three-scene>
<div class="intro-wrapper items-center">
  <div class="intro-text">
    <h3 class="intro-id uppercase" style="opacity: 1; transform: none;">Hey, I’m
      <div class="name" #nameDiv>Mirshod Allaberganov
        <div class="wave-wrapper">
          <div class="wave" style="background-position-x: 0px;"></div>
        </div>
      </div>
    </h3>
    <h3 class="intro-id uppercase" style="opacity: 1; transform: none;">But you can call me
      <div class="name" #nicknameDiv>Mirix
        <div class="wave-wrapper">
          <div class="wave" style="background-position-x: 0px;"></div>
        </div>
      </div>
    </h3>
    <div class="intro-roles">
      <p class="intro-role" style="opacity: 1; transform: none;">I’m a back-end engineer</p>
      <p class="intro-role" style="opacity: 1; transform: none;">&amp; front-end web developer</p>
    </div>
    <div class="intro-links">
      <ul>
        <li style="opacity: 1; transform: none;">
          <div class="link-wrapper">
            <div class="link" style="text-decoration: none;"><a href="/work">→ <!-- -->see my projects</a></div>
            <div class="link-underline" style="transform:translateX(-101%) translateZ(0)"></div>
          </div>
        </li>
        <li style="opacity: 1; transform: none;">
          <div class="link-wrapper">
            <div class="link" style="text-decoration: none;"><a href="/about">→ <!-- -->more about me</a></div>
            <div class="link-underline" style="transform:translateX(-101%) translateZ(0)"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
