nav {
  padding: 8px 8px 32px 8px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.logo {
  padding: 5px 30px;
}

.stack-select {
  outline: none;
}
